[submodule "editor/lua/moai-framework"]
	path = editor/lua/moai-framework
	url = https://Vavius@bitbucket.org/Vavius/moai-framework.git
[submodule "dev/lunatic"]
	path = dev/lunatic
	url = https://github.com/Vavius/lunatic-python.git
